:root {
    --prim-color: #000000;
    --sec-color:  #BDBDBD;
    --accent-color: #F2994A;    
    --back-color: white;

    --prim-font: 'Playfair Display', serif;
    --sec-font: 'Montserrat', sans-serif;
}


*,
*:after
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--back-color);
    font-family: var(--sec-font);
    color: var(--prim-color);
    font-size: 1.6rem;

}

a {
    text-decoration: none;
    color: var(--sec-color);
    text-align: left;
    margin-bottom: 9.3rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

form {
    margin: 0 auto 1.25rem auto;
    
}

label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.input-checkbox {    
    margin-right: 10px
}

img {
    max-width: 100%;
}

.header {
    width: min(95%, 96.9rem);
    margin: 0 auto;
} 


.title {
    font-family: var(--prim-font);
    font-size: 4.8rem;
    font-weight: 700;
    margin: 5.6rem auto 1.2rem 0;
}

.desc-recip {
    display: flex;    
    align-items: start;
    column-gap: 2rem; 
    max-width: 70%;   
    margin-top: 1.2rem;
    margin-bottom: 1.7rem;
    font-style: italic;
    font-weight: 500;

    
}

.dots img {
    max-width: none;

}

.description p {
    margin-top: 0;
    
}

.img-header {
    margin-bottom: 4.8rem;
}

.grid {
    width: min(95%, 96.9rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    justify-content: space-between;
}

.grid__ingredients .subtitle {
     font-family: var(--prim-font);
     font-size: 2.4rem;
     font-weight: 700;
     margin-top: 0;
}


.grid__card {
    display: flex;
    flex-direction: column;
    justify-self: end;
    background-color: var(--back-color);
    border-radius: 1.2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 38rem; 
    overflow: auto;
}

.module-card-1,
.module-card-2,
.module-card-3,
.module-card-4 {
    display: flex;
    flex-direction: row;
    column-gap: 1.4rem;
    margin-left: 4.3rem;
    margin-right: 6rem;
    margin-bottom: 4.3rem;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 0;
} 

.module-card-1 {
    margin-top: 5.7rem;
}

.module-card-4 {
    margin-bottom: 5rem;
}

.icon-rest .material-symbols-outlined {
    font-size: 3.2rem;
    color: var(--accent-color);
    margin: 0;
    padding-right: 0;
}


.icon-clock .material-symbols-outlined {
    font-size: 3.2rem;
    color: var(--prim-color);
    margin: 0;
}

.title-time {
    font-size: 1rem;
    color: var(--sec-color);
    font-weight: 700;
}

.time {
   font-size: 1.4rem;
   color: var(--prim-color);
   font-weight: 500;

}

/* Ingredients section */

.subtitle {
    font-family: var(--prim-font);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}

.title-list {
    font-family: var(--prim-font);
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 3.1rem;
}

label {
    color: var(--prim-color);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    display: block;
    text-indent: -3.8rem;
    padding-left: 3.8rem;
    line-height: 2.5rem;
}

label input[type="checkbox"] {
    color: var(--sec-color);
    margin-right: 1.7rem;
    padding: 0;
    vertical-align: baseline;
    position: relative;
}


.grid__instructions {    
    display: flex;
    flex-direction: column;
    row-gap: 2rem;  
} 

.instr {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 10% 1fr;
    column-gap: 2rem;
}

.text-instruction p {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

.bullet-number {
    align-self: flex-start;
    background-color: var(--accent-color);
    height: 3.6rem;
    width: 3.6rem;
    border-radius: .6rem;
    display: grid;
    place-content: center;

 }



 .number { 
    font-weight: 700;   
    font-size: 2.4rem;
    color: var(--back-color);
    font-family: var(--sec-font);
    margin-top: 0;   
}

footer p {
    margin: 0 auto;
    text-align: center;
    color: var(--sec-color);
    margin-bottom: 2.4rem;
}


/* Mobile version mediaqueries  568px*/ 
@media (max-width: 568px) {

.title {
    font-size: 2.4rem;
    margin-top: 3.2rem;
}

.desc-recip {   
column-gap: 1rem;
max-width: 100%;
}

.description p{
font-size: 1.2rem;
margin-top: 0;
}

.dots {
    margin-top: -.2rem;
}


.grid {
    display: flex;
    flex-direction: column;
}

.grid__card {
order: -1;
margin-bottom: 3rem;
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: repeat(3, 1fr);
background-color: var(--back-color);
height: 12rem;
justify-content: space-between;
gap: .5rem;
box-shadow: none;
overflow:visible;
margin-left: 0;
border-radius: 0;
}


.title-list:last-of-type {
    margin-top: 4rem;
}

.module-card-1 {
    margin-left: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;

}

.module-card-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 0;
}

.module-card-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.module-card-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.module-card-1,
.module-card-2,
.module-card-3,
.module-card-4 {
    column-gap: .5rem;
    margin: 0;

}

.icon-rest .material-symbols-outlined {
    font-size: 2.8rem;
    color: var(--accent-color);
    margin: 0;
    padding-right: 0;
}


.icon-clock .material-symbols-outlined {
    font-size: 2.8rem;
    color: var(--prim-color);
}

.title-time {
    font-size: .8rem;
    color: var(--sec-color);
    font-weight: 700;
}

.time {
    font-size: 1rem;
    color: var(--prim-color);
    font-weight: 500;

}

a {
    font-size: 1.2rem;
}

footer p {
    font-size: 1.4rem;
}


}






